*{
    margin: 0px;
    padding: 0px;
    font-family: 'SquadaOne-Regular', monospace;
    width: 100%;
    color: #FAFAFA;
    list-style-type:none;
}
@font-face{
    font-family:SquadaOne-Regular;
    src: url(./fonts/SquadaOne-Regular.ttf )
}
@font-face{
    font-family:Tangerine-Bold;
    src: url(./fonts/Tangerine-Bold.ttf)
}
header{
    position: absolute;
    Background-image: url(./images/header_images/churrasco_fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 860px;
    width: 1861px;
}
::-webkit-scrollbar{
    display: none;
}
#setaBaixo1{
    position:absolute;
    width: 60px;
    left: 50%;
    top: 100%;
    cursor: pointer;
}
/* TEXTO SUPERIOR DA PRIMEIRA PAGINA */
#menuSuperior{
    margin-top: 20px;
}
#Logo{
   display: inline;
   background: linear-gradient(180deg, rgba(196, 196, 196, 0.28) 0%, rgba(196, 196, 196, 0) 100%);
   padding: 10px;
   border-radius:26px ;
   font-size: 30px; 
   margin-left: 15px;
}
#texMenu{  
    position: absolute;
    font-size: 25px;
    display: inline;
    text-align: end;
    max-width: 93%;
}
#texto1{
    display: inline;
    margin: 15px;
}
/* CONTEINER DAS INFORMAÇOES DA PRIMEIRA PAGINA*/
#conteinerElementos{
    text-align: center; 
    margin-top: 200px;
}
#componente1{
    max-width: 363px; 
}
#texCurrascometor{
    font-family:Tangerine-Bold;
    font-weight: 700;
    font-size: 85px;
    line-height: 85px;
    color: #F4CEAB;
}
#texAmorim{
    font-weight: 400;
    font-size: 55px;
    line-height: 58px;
}
/* conteiner para escolha do organizador*/
#conteiner_escolhaOrganizador,h6{
    padding-top: 20px;
    max-width: 200px;
    font-size: 23px;
    
   margin: auto;
   margin-top: 15px;
}
h6{ 
    background: linear-gradient(180deg, rgba(11, 226, 226, 0.28) 0%, rgba(196, 196, 196, 0) 100%);
    max-width: 100px;
    border-radius: 5px;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
}
h6:hover{
    padding: 18px;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    background: #69e673;
}
/* texto final da primeira pagina*/
#textoPagina1{
    position: absolute;
    padding-top: 50px;
    text-align: center;
    top:85%;
}






/* SEGUNDA PAGINA */

/*parte relacionada a calculadora*/
#conteinerCalculadora{
    position: absolute;
    background: linear-gradient(180deg, rgba(157, 56, 34, 0) 12.5%, #1B1C1E 32.81%);
    width: 260px;
    height: 950px;
    top: 930px;
}
h4{
    position: absolute;
    width: 251px;
    height: 39px;
    left: 11px;
    top: 100px;
    font-size: 38px;
    color: #100F0F;
}
#calculadora{
    position: absolute;

}
input{
    position: relative;
    border-radius: 5px;
    width: 210px;
    height: 43px;
    left: 27px;
    top: 200px;
    margin-bottom:43px ;

    font-family: 'Inter'; 
    color: #000;  
}
button{
    position: relative;
    background: #F58706;
    border-radius: 15px;
    width: 78px;
    height: 30px;
    left: 84px;
    top: 250px;  
    cursor: pointer;
    color: #000000;
}
.iconeAdulto{
    background-image: url(./images/icons/icons_adulto.png);
    background-repeat: no-repeat;
    background-position: right;
    text-align: center;
}
.iconeCrianca{
    background-image: url(./images/icons/icons_baby.png);
    background-repeat: no-repeat;
    background-position: right;
    text-align: center;
}
.iconeDuracao{
    background-image: url(./images/icons/icons_tempo.png);
    background-repeat: no-repeat;
    background-position: right;
    text-align: center;
}
/* parte relacionado ao relatorio geral das compras */
#textoRelatorio{
    position: relative;
    width: 173px;
    height: 64px;
    left: 39px;
    top: 330px;
    text-align: center;
    font-size: 30px;
    color: #ACACAC;
}
#relatorio_cerveja{
    position: relative;
    background: linear-gradient(180deg, #350808 65.88%, rgba(196, 196, 196, 0) 100%);
    border-radius: 7px;   
    width: 85px;
    height: 85px;
    left: 37px;
    top: 350px;
}
#relatorio_carne{
    position: relative;
    background: linear-gradient(180deg, #312727 66.97%, rgba(106, 79, 79, 0) 100%);
    border-radius: 7px;
    width: 85px;
    height: 85px;
    left: 135px;
    top: 265px;    
}
#relatorio_refrigerante{
    position: relative;
    background: linear-gradient(180deg, #4A3BA7 71.69%, rgba(167, 59, 59, 0) 100%);
    border-radius: 7px;
    width: 85px;
    height: 85px;
    left: 86px;
    top: 280px;    
}
#nome_bebidasCarne{
    margin-left: 10px;
    margin-top: 1px;
    color: #9E9E9E;
}
#retangulo{
    position: absolute;
    width: 3px;
    height: 43px;
    margin-left: 13px;
    margin-top: 5px;
}
/*estilo dos valores encontrados(relatorio geral das compras)*/
#resultadoCerveja,#resultadoCarne,#resultadoRefrigerante{
    position: absolute;
    text-align: center;
    left: 10px;
    top: 35%;
    
}


#icone{
    position: absolute;
    width: 22px;
    left: 70%;
    top: 60%;
}
/*parte relacionada o preço dos produtos*/
.conteiner_precoCompas{
    position: absolute;
    background: linear-gradient(180deg, rgba(20, 8, 8, 0) 12.26%, rgba(0, 0, 0, 0.792813) 77.6%);
    width: 1150px;
    height: 950px;
    left: 260px;
    top: 930px; 
}
#titulo_precoPodutos{
    width: 473px;
    left: 110px;
    top: 100px;
}
/*estilizar os valores recebidos no relatorio de compras para separar por produtos*/
.relatorio_cerveja{
    position: absolute;
    background: linear-gradient(180deg, #350808 65.88%, rgba(196, 196, 196, 0) 100%);
    border-radius: 7px;
    width: 95px;
    height: 150px;
    left: 190px;
    top: 190px;   
}
.retangulo{
    position: absolute;
    width: 4px;
    height: 80px;
    margin-left: 13px;
    margin-top: 5px;
}
.nome_bebidasCarne{
    margin-left: 12px;
    margin-top: 10px;
    color: #9E9E9E;
}
#blocoInput_precoProdutosCerveja{
    position: absolute;
    background: linear-gradient(180deg, #350808 95.31%, rgba(196, 196, 196, 0) 100%);
    border-radius: 7px; 
    width: 438px;
    height: 150px;
    left: 290px;
    top: 190px;    
}
/*espaço para estilizar blocoInput_precoProdutos*/
/*espaço para estilizar blocoInput_precoProdutos*/
.relatorio_refrigerante{
    position: absolute;
    background: linear-gradient(180deg, #4A3BA7 71.69%, rgba(167, 59, 59, 0) 100%);
    border-radius: 7px;
    width: 95px;
    height: 150px;
    left: 350px;
    top: 350px;    
}
#blocoInput_precoProdutosRefrigerante{
    position: absolute;
    background: linear-gradient(180deg, #4A3BA7 94.79%, rgba(167, 59, 59, 0) 100%);
    border-radius: 7px;
    width: 438px;
    height: 150px;
    left: 450px;
    top: 350px;
}
/*espaço para estilizar blocoInput_precoProdutos*/
/*espaço para estilizar blocoInput_precoProdutos*/
.relatorio_carne{
    position: absolute;
    background: linear-gradient(180deg, #312727 66.97%, rgba(106, 79, 79, 0) 100%);
    border-radius: 7px;
    width: 95px;
    height: 150px;
    left: 500px;
    top: 510px;   
}
#blocoInput_precoProdutosCarne{
    position: absolute;
    background: linear-gradient(180deg, #312727 72.37%, rgba(49, 39, 39, 0.993346) 96.03%, rgba(106, 79, 79, 0) 105.4%);
    border-radius: 7px;
    width: 438px;
    height: 150px;
    left: 600px;
    top: 510px;
}
/*espaço para estilizar blocoInput_precoProdutos*/
/*espaço para estilizar blocoInput_precoProdutos*/

/*parte relacionada a lista de compras e custo total*/
#conteiner_listaCompas_custoTotal{
    position: absolute;
    background: linear-gradient(180deg, rgba(234, 234, 234, 0) 7.81%, #535353 100%);
    border-radius: 7px;
    width: 570px;
    height: 186px;
    left: 50%;
    transform: translateX(-50%);
    top: 745px;
}
#conteinerValorTotal{
    position: absolute;
    background: linear-gradient(180deg, #E6D8D8 0%, #454242 0.01%);
    border-radius: 7px;
    width: 129px;
    height: 28px;
    left: 75%;
    top: 150px;
}
#nome_listaCompras_custoTotal{
    position: absolute;
    width: 473px;
    height: 39px;
    margin-left: 10%;
    top: 10px;
    color: #FFFFFF;
}
/*----------------------------*/
#setaBaixo2{
    position: absolute;
    width: 77px;
    height: 75px;
    left: 80%;
    top: 860px;
    cursor: pointer;
}/*no js sera definido qual sera mostrado a(imagem ou o botão)*/
#imprimir_pdf{
    position: absolute;
    background: linear-gradient(180deg, #6A4F4F 0%, #803E3E 66.97%);
    border-radius: 7px;
    width: 77px;
    height: 103px;
    left: 80%;
    top: 820px;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 15px;
    line-height: 16px;
    text-align: center;
}
/*----------------------------*/
/*parte relacionada ao planejar um churrasco*/
.conteiner_planejarChurrasco{
    position: relative;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 9.9%, rgba(0, 0, 0, 0.792813) 31.25%);
    width: 24%;
    height: 950px;
    left: 1410px;
    top: 930px;
}
#titulo_planejarChurrasco{
    position: relative;
    height: 80px;
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
    text-align: center;
    font-size: 38px;
    margin-bottom: 120px;
}
#conteinerTextosPlanejamentoChurrasco{
    position: relative;
    background: linear-gradient(180deg, #352727 95.31%, rgba(196, 196, 196, 0) 100%);
    border-radius: 7px;
    max-width: 80%;
    left: 6%;
    margin-bottom: 20px;
    padding: 20px;
    font-size: 13px;
}
#tituloConteinerPlanejamentoChurrasco{
    text-align: center;
    margin-bottom: 5px;
    color: #B6B6B6;
}










/*TERCEIRA PAGINA*/
#conteiner_pagina3{
   position:relative;
   background: linear-gradient(180deg, #2F3032 3.13%, rgba(40, 39, 38, 0.07) 10.94%, rgba(38, 36, 36, 0.124658) 85.42%, rgba(6, 5, 4, 0.87) 85.43%);
   width: 1861px;
   height: 1137px;
   top: 930px; 
}
#titulo_distribuicaoLista{  
    width: 473px;
    left: 91px;
    top: 216px;
    font-size: 38px;
}
h5{
    position: absolute;
    height: 39px;
    left: 400px;
    top: 280px;
    font-weight: 100;
    font-size: 20px;
    color: #100F0F;
}
#quantidadeParticipante{
    position:absolute;
    text-align: center;
    width: 255px;
    left: 690px;
    top: 270px;
    font-size: 22px;
}
.nomeParticipante1{
    position: absolute;
    width: 75px;
    height: 20px;
    left: 9px;
    top: 10px;
    font-size: 13px;
    color: #9E9E9E;
    background-color: #350808;
}
#bloco_valorParticipante1{
    position: absolute;
    background: linear-gradient(180deg, #350808 65.88%, rgba(196, 196, 196, 0) 100%);
    border-radius: 7px;
    width: 95px;
    height: 135px;
    left: 60px;
    top: 350px;
}
#bloco_distribuicaoVermelho1{
    position: absolute;
    background: linear-gradient(180deg, #350808 95.31%, rgba(196, 196, 196, 0) 100%);
    border-radius: 7px;
    width: 438px;
    height: 135px;
    left: 160px;
    top: 350px;  
}

#bloco_valorParticipante2{
    position: absolute;
    background: linear-gradient(180deg, #350808 65.88%, rgba(196, 196, 196, 0) 100%);
    border-radius: 7px;
    width: 95px;
    height: 135px;
    left: 660px;
    top: 350px;
}
#bloco_distribuicaoVermelho2{
    position: absolute;
    background: linear-gradient(180deg, #350808 95.31%, rgba(196, 196, 196, 0) 100%);
    border-radius: 7px;
    width: 438px;
    height: 135px;
    left: 760px;
    top: 350px;  
}

#bloco_valorParticipante3{
    position: absolute;
    background: linear-gradient(180deg, #350808 65.88%, rgba(196, 196, 196, 0) 100%);
    border-radius: 7px;
    width: 95px;
    height: 135px;
    left: 1260px;
    top: 350px;
}
#bloco_distribuicaoVermelho3{
    position: absolute;
    background: linear-gradient(180deg, #350808 95.31%, rgba(196, 196, 196, 0) 100%);
    border-radius: 7px;
    width: 438px;
    height: 135px;
    left: 1360px;
    top: 350px;  
}
.nomeParticipante2{
    position: absolute;
    width: 75px;
    height: 20px;
    left: 9px;
    top: 10px;
    font-size: 13px;
    color: #9E9E9E;
    background-color: #4A3BA7;
}
#bloco_valorParticipante4{
    position: absolute;
    width: 95px;
    height: 135px;
    left: 60px;
    top: 550px; 
    background: linear-gradient(180deg, #4A3BA7 71.69%, rgba(167, 59, 59, 0) 100%);
    border-radius: 7px;
}
#bloco_distribuicaoRoxo4{
    position: absolute;
    width: 438px;
    height: 135px;
    left: 160px;
    top: 550px;
    background: linear-gradient(180deg, #4A3BA7 94.79%, rgba(167, 59, 59, 0) 100%);
    border-radius: 7px;
}
#bloco_valorParticipante5{
    position: absolute;
    width: 95px;
    height: 135px;
    left: 660px;
    top: 550px;
    background: linear-gradient(180deg, #4A3BA7 71.69%, rgba(167, 59, 59, 0) 100%);
    border-radius: 7px;
}
#bloco_distribuicaoRoxo5{
    position: absolute;
    width: 438px;
    height: 135px;
    left: 760px;
    top: 550px;
    background: linear-gradient(180deg, #4A3BA7 94.79%, rgba(167, 59, 59, 0) 100%);
    border-radius: 7px;
}
#bloco_valorParticipante6{
    position: absolute;
    width: 95px;
    height: 135px;
    left: 1260px;
    top: 550px;
    background: linear-gradient(180deg, #4A3BA7 71.69%, rgba(167, 59, 59, 0) 100%);
    border-radius: 7px;
}
#bloco_distribuicaoRoxo6{
    position: absolute;
    width: 438px;
    height: 135px;
    left: 1360px;
    top: 550px;
    background: linear-gradient(180deg, #4A3BA7 94.79%, rgba(167, 59, 59, 0) 100%);
    border-radius: 7px;
}
.nomeParticipante3{
    position: absolute;
    width: 75px;
    height: 20px;
    left: 9px;
    top: 10px;
    font-size: 13px;
    background-color: #312727;
}
#bloco_valorParticipante7{
    position: absolute;
    width: 95px;
    height: 135px;
    left: 60px;
    top: 750px;
    background: linear-gradient(180deg, #312727 66.97%, rgba(106, 79, 79, 0) 100%);
    border-radius: 7px;
}
#bloco_distribuicaoRoxo7{
    position: absolute;
    width: 438px;
    height: 135px;
    left: 160px;
    top: 750px;
    background: linear-gradient(180deg, #312727 72.37%, rgba(49, 39, 39, 0.993346) 96.03%, rgba(106, 79, 79, 0) 105.4%);
    border-radius: 7px;
}
#bloco_valorParticipante8{
    position: absolute;
    width: 95px;
    height: 135px;
    left: 660px;
    top: 750px;
    background: linear-gradient(180deg, #312727 66.97%, rgba(106, 79, 79, 0) 100%);
    border-radius: 7px;
}
#bloco_distribuicaoRoxo8{
    position: absolute;
    width: 438px;
    height: 135px;
    left: 760px;
    top: 750px;
    background: linear-gradient(180deg, #312727 72.37%, rgba(49, 39, 39, 0.993346) 96.03%, rgba(106, 79, 79, 0) 105.4%);
    border-radius: 7px;
}
#bloco_valorParticipante9{
    position: absolute;
    width: 95px;
    height: 135px;
    left: 1260px;
    top: 750px;
    background: linear-gradient(180deg, #312727 66.97%, rgba(106, 79, 79, 0) 100%);
    border-radius: 7px;
}
#bloco_distribuicaoRoxo9{
    position: absolute;
    width: 438px;
    height: 135px;
    left: 1360px;
    top: 750px;
    background: linear-gradient(180deg, #312727 72.37%, rgba(49, 39, 39, 0.993346) 96.03%, rgba(106, 79, 79, 0) 105.4%);
    border-radius: 7px;
}

/*tegs dos elementos de navegação de pagina*/

/*conteiner navegação 1*/
#navegacao1{
    position: absolute;
    left: 150px;   
}
#naveOrganizador{
    position: relative;
    font-size: 18px;
    color: #100F0F;
    top: 26px;
    cursor: pointer;
}
#setaLateral{
    position: relative;
    width: 20px;
    left: 2px;
    top: 3px;
}
#naveChurrascometro{
    position:absolute;
    left: 120px;
    top: 31px;
    font-size: 18px;
    color: #4A4848;
}
/*conteiner navegação 2*/
#navegacao2{
    position: absolute;
    left: 300px; 
    top: 120px;
}
.naveOrganizador{
    position: relative;
    font-size: 18px;
    color: #100F0F;
    top: 30px;
    cursor: pointer;
}
#setaLateral2{
    position: absolute;
    width: 20px;
    
}
.naveChurrascometro{
    position:absolute;
    left: 120px;
    top: 30px;
    font-size: 18px;
    color: #100F0F;
    cursor: pointer;
}
#setaLateral3{
    position: absolute;
    width: 20px;
    
}
#naveDividirConta{
    position:absolute;
    left: 255px;
    top: 30px;
    font-size: 18px;
    color: #4A4848;
}