*{
    margin: 0px;
    padding: 0px;
    font-family: 'SquadaOne-Regular', monospace;
    width: 100%;
    color: #FAFAFA;
    list-style-type:none;
}
@font-face{
    font-family:SquadaOne-Regular;
    src: url(./fonts/SquadaOne-Regular.ttf )
}
@font-face{
    font-family:Tangerine-Bold;
    src: url(./fonts/Tangerine-Bold.ttf)
}
header{
   position: absolute;
    Background-image: url(./images/header_images/churrasco_fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 860px;
}
.imagem_setaBaixo{
    position:relative;
    width: 60px;
    left: 50%;
    top: 100%;
}
/* TEXTO SUPERIOR DA PRIMEIRA PAGINA */
#Logo{
   display: inline;
   background: linear-gradient(180deg, rgba(196, 196, 196, 0.28) 0%, rgba(196, 196, 196, 0) 100%);
   padding: 16px;
   border-radius:26px ;
   font-size: 30px; 
   margin-left: 15px;
}
#texMenu{  
    position: absolute;
    font-size: 25px;
    display: inline;
    text-align: end;
    max-width: 93%;
}
#texto1{
    display: inline;
    margin: 15px;
}
/* CONTEINER DAS INFORMAÇOES DA PRIMEIRA PAGINA*/
#conteinerElementos{
    text-align: center; 
    margin-top: 200px;
}
#componente1{
    max-width: 363px; 
}
#texCurrascometor{
    font-family:Tangerine-Bold;
    font-weight: 700;
    font-size: 85px;
    line-height: 85px;
    color: #F4CEAB;
}
#texAmorim{
    font-weight: 400;
    font-size: 55px;
    line-height: 58px;
}
/* conteiner para escolha do organizador*/
#conteiner_escolhaOrganizador,h6{
    padding-top: 20px;
    max-width: 200px;
    font-size: 23px;
    
   margin: auto;
   margin-top: 15px;
}
h6{ 
    background: linear-gradient(180deg, rgba(11, 226, 226, 0.28) 0%, rgba(196, 196, 196, 0) 100%);
    max-width: 100px;
    border-radius: 5px;
    padding: 15px;
    font-size: 20px;
}
h6:hover{
    padding: 18px;
    
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    background: #69e673;
}
/* texto final da primeira pagina*/
#textoPagina1{
    position: absolute;
    padding-top: 50px;
    text-align: center;
    top:85%;
}
/* SEGUNDA PAGINA */
main{
background-color: #DDDDE0;
}
/*parte relacionada a calculadora*/
.conteinerCalculadora{
    position: absolute;
    background: linear-gradient(180deg, rgba(157, 56, 34, 0) 12.5%, #1B1C1E 32.81%);
    width: 260px;
    height: 1137px;
    top: 775px;
}
h4{
    position: absolute;
    width: 251px;
    height: 39px;
    left: 11px;
    top: 265px;
    font-size: 38px;
    color: #100F0F;
}
#calculadora{
    position: absolute;

}
input{
    position: relative;
    border-radius: 5px;
    width: 210px;
    height: 43px;
    left: 27px;
    top: 350px;
    margin-bottom:43px ;

    font-family: 'Inter'; 
    color: #000;  
}
button{
    position: absolute;
    background: #F58706;
    border-radius: 15px;
    width: 78px;
    height: 30px;
    left: 84px;
    top: 645px;  

    color: #000000;
}
#iconeAdulto{
    background-image: url(./images/icons/icons_adulto.png);
    background-repeat: no-repeat;
    background-position: right;
    text-align: center;
}
#iconeCrianca{
    background-image: url(./images/icons/icons_baby.png);
    background-repeat: no-repeat;
    background-position: right;
    text-align: center;
}
#iconeDuracao{
    background-image: url(./images/icons/icons_tempo.png);
    background-repeat: no-repeat;
    background-position: right;
    text-align: center;
}
/* parte relacionado ao relatorio geral das compras */
#textoRelatorio{
    position: absolute;
    width: 173px;
    height: 64px;
    left: 39px;
    top: 800px;
    text-align: center;
    font-size: 30px;
    color: #ACACAC;
}
#relatorio_cerveja{
    position: absolute;
    background: linear-gradient(180deg, #350808 65.88%, rgba(196, 196, 196, 0) 100%);
    border-radius: 7px;   
    width: 85px;
    height: 85px;
    left: 37px;
    top: 920px;
}
#relatorio_carne{
    position: absolute;
    background: linear-gradient(180deg, #312727 66.97%, rgba(106, 79, 79, 0) 100%);
    border-radius: 7px;
    width: 85px;
    height: 85px;
    left: 135px;
    top: 920px;    
}
#relatorio_refrigerante{
    position: absolute;
    background: linear-gradient(180deg, #4A3BA7 71.69%, rgba(167, 59, 59, 0) 100%);
    border-radius: 7px;
    width: 85px;
    height: 85px;
    left: 86px;
    top: 1020px;    
}
#nome_bebidasCarne{
    margin-left: 10px;
    margin-top: 1px;
    color: #9E9E9E;
}
#retangulo{
    position: absolute;
    width: 3px;
    height: 43px;
    margin-left: 13px;
    margin-top: 5px;
}
.resultadoCerveja,.resultadoCarne,.resultadoRefrigerante{
    position: absolute;
    text-align: center;
    left: 10px;
    top: 35%;
}
#icone{
    position: absolute;
    width: 22px;
    left: 70%;
    top: 60%;
}
/*parte relacionada o preço dos produtos*/
.conteiner_precoCompas{
    position: absolute;
    background: linear-gradient(180deg, rgba(20, 8, 8, 0) 12.26%, rgba(0, 0, 0, 0.792813) 77.6%);
    width: 1150px;
    height: 1146px;
    left: 260px;
    top: 766px;  
}
#titulo_precoPodutos{
    width: 473px;
    left: 110px;
    top: 275px;
}
/*estilizar os valores recebidos no relatorio de compras para separar por produtos*/
.relatorio_cerveja{
    position: absolute;
    background: linear-gradient(180deg, #350808 65.88%, rgba(196, 196, 196, 0) 100%);
    border-radius: 7px;
    width: 95px;
    height: 150px;
    left: 190px;
    top: 360px;   
}
.retangulo{
    position: absolute;
    width: 4px;
    height: 80px;
    margin-left: 13px;
    margin-top: 5px;
}
.nome_bebidasCarne{
    margin-left: 12px;
    margin-top: 10px;
    color: #9E9E9E;
}
#blocoInput_precoProdutosCerveja{
    position: absolute;
    background: linear-gradient(180deg, #350808 95.31%, rgba(196, 196, 196, 0) 100%);
    border-radius: 7px; 
    width: 438px;
    height: 150px;
    left: 290px;
    top: 360px;    
}
/*espaço para estilizar blocoInput_precoProdutos*/
/*espaço para estilizar blocoInput_precoProdutos*/
.relatorio_refrigerante{
    position: absolute;
    background: linear-gradient(180deg, #4A3BA7 71.69%, rgba(167, 59, 59, 0) 100%);
    border-radius: 7px;
    width: 95px;
    height: 150px;
    left: 350px;
    top: 520px;    
}
#blocoInput_precoProdutosRefrigerante{
    position: absolute;
    background: linear-gradient(180deg, #4A3BA7 94.79%, rgba(167, 59, 59, 0) 100%);
    border-radius: 7px;
    width: 438px;
    height: 150px;
    left: 450px;
    top: 520px;
}
/*espaço para estilizar blocoInput_precoProdutos*/
/*espaço para estilizar blocoInput_precoProdutos*/
.relatorio_carne{
    position: absolute;
    background: linear-gradient(180deg, #312727 66.97%, rgba(106, 79, 79, 0) 100%);
    border-radius: 7px;
    width: 95px;
    height: 150px;
    left: 500px;
    top: 680px;   
}
#blocoInput_precoProdutosCarne{
    position: absolute;
    background: linear-gradient(180deg, #312727 72.37%, rgba(49, 39, 39, 0.993346) 96.03%, rgba(106, 79, 79, 0) 105.4%);
    border-radius: 7px;
    width: 438px;
    height: 150px;
    left: 600px;
    top: 680px;
}
/*espaço para estilizar blocoInput_precoProdutos*/
/*espaço para estilizar blocoInput_precoProdutos*/

/*parte relacionada a lista de compras e custo total*/
#conteiner_listaCompas_custoTotal{
    position: absolute;
    background: linear-gradient(180deg, rgba(234, 234, 234, 0) 7.81%, #535353 100%);
    border-radius: 7px;
    width: 570px;
    height: 186px;
    left: 50%;
    transform: translateX(-50%);
    top: 927px;
}
#conteinerValorTotal{
    position: absolute;
    background: linear-gradient(180deg, #E6D8D8 0%, #454242 0.01%);
    border-radius: 7px;
    width: 129px;
    height: 28px;
    left: 75%;
    top: 150px;
}
#nome_listaCompras_custoTotal{
    position: absolute;
    width: 473px;
    height: 39px;
    margin-left: 10%;
    top: 10px;
    color: #FFFFFF;
}
/*----------------------------*/
#setaProximaPagina{
    position: absolute;
    width: 77px;
    height: 75px;
    left: 80%;
    top: 1057px;
}/*no js sera definido qual sera mostrado a(imagem ou o botão)*/
#imprimir_pdf{
    position: absolute;
    background: linear-gradient(180deg, #6A4F4F 0%, #803E3E 66.97%);
    border-radius: 7px;
    width: 77px;
    height: 103px;
    left: 80%;
    top: 1010px;
    
    color: #FFFFFF;
    font-size: 15px;
    line-height: 16px;
    text-align: center;
}
/*----------------------------*/
/*parte relacionada ao planejar um churrasco*/
.conteiner_planejarChurrasco{
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 9.9%, rgba(0, 0, 0, 0.792813) 31.25%);
    width: 445px;
    height: 1121px;
    left: 1414px;
    top: 791px;
}
#titulo_planejarChurrasco{
    position: relative;
    height: 80px;
    left: 50%;
    top: 250px;
    transform: translateX(-50%);
    text-align: center;
    font-size: 38px;
    margin-bottom: 280px;
}
#conteinerTextosPlanejamentoChurrasco{
    position: relative;
    background: linear-gradient(180deg, #352727 95.31%, rgba(196, 196, 196, 0) 100%);
    border-radius: 7px;
    max-width: 350px;
    left: 23px;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 13px;
}
#tituloConteinerPlanejamentoChurrasco{
    text-align: center;
    margin-bottom: 5px;
    color: #B6B6B6;
}
/*TERCEIRA PAGINA*/
